body {
  background-color: #000000;
  color: #eeeeee;
}

#galleryTouch
{
  /*width:800px;*/
  overflow:hidden;
  position:relative;
  border : 1px solid black;
  padding:0px;
  margin:0px;
  /* full height */
  position: absolute;
  top: 0px;
  bottom: 0px;
}
#galleryTouch #imgs
{
  float:left;
  display:inline;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  padding:0px;
  margin:0px;
  /*width:2410px;*/
  /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}
#galleryTouch #imgs div
{
  text-align: center;
  display: inline-block;
  padding:0px;
  margin:0px;
}
#galleryTouch #imgs div img
{
  padding: 0px;
  margin: 0px;
  /*width:800px;*/
  /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}
#galleryTouch #imgs div video + img
{
  display: none;
  visibility: hidden;
}
#galleryTouch #imgs div video
{
  width: 100%;
}

#galleryTouch > span {
  text-shadow: 1px 1px 10px #000000;
}
.topleft {
  position: absolute;
  z-index: 11;
  top: 10px;
  left: 10px;
}
.bottomleft {
  position: absolute;
  z-index: 11;
  bottom: 10px;
  left: 10px;
}
.topright {
  position: absolute;
  z-index: 11;
  top: 10px;
  right: 10px;
}
.bottomright {
  position: absolute;
  z-index: 11;
  bottom: 10px;
  right: 10px;
}

#galleryTouch #toc {
  background-color: #cccccc;
  color: #333333;
  z-index: 16;
  position: absolute;
  top: 0px;
  left: 10px;
  right: 10px;
  opacity: 0.9;
  height: 0px;
  overflow: hidden;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  margin: 0px;
  padding: 0px;
  display: none;
}
#galleryTouch #toc li {
  list-style-type: none;
  border-bottom: 1px solid #333333;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
.is-out {
  opacity: 0;
}
.fade-out {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeOut ease-in 1;
    animation:fadeOut ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

/*
.codeBox{margin-top:1.5em;}
.localStyle{margin-top: 2.5em;}
.fontLocalStyle{font-size:1.6em;text-align:justify;}
.view3{}

section .entry .listpost li i{display:inline;}
section .box {text-align:center;}
*/


/* loader image */
@-moz-keyframes rotateRight{
    0%{ 
      -moz-transform:rotate(0deg);
      -moz-transform-origin:50% 50%;
    }
    100%{ 
      -moz-transform:rotate(360deg); 
    }
}

@-webkit-keyframes rotateRight{
    0%{ 
      -webkit-transform:rotate(0deg); 
      -webkit-transform-origin:50% 50%; 
    }
    100%{ 
      -webkit-transform:rotate(360deg); 
    }
}

#loader { 
    -moz-animation:.9s rotateRight infinite linear; 
    -webkit-animation:.9s rotateRight infinite linear; 
    animation:.9s rotateRight infinite linear; 
    position: relative;
    z-index: 99;
    display: block;
    width: 120px;
    margin: auto;
    display: none;
    visibility: hidden;
}

